* {
  font-family: "Cardo", serif;
  font-size: 1.05rem;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  background-color: rgb(255, 255, 255);
  background-image: url(resources/IMG_0029.JPG);

}

p {
  margin: 0;
}

.header-container {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  width: min(80vw, 800px);
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.title-text {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  align-self: center;
  justify-self: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.123);
}

.title-container {
  padding-bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.icon {
  height: 3rem;
}

.add-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  padding-bottom: 1rem;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
  border: none;
  background-color: rgb(241, 241, 241);
  padding: .25rem;
  border-radius: 5px;
  width: 15rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-button {
  width: 248px;
}

.add-button:hover {
  background-color: rgba(185, 229, 185, 0.541);
}

.content-container {
  margin-bottom: 2rem;
  gap: 1rem;
  width: min(80vw, 800px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.book-card {
  border-left: solid 1rem rgb(80, 44, 27);
  border-bottom: solid 2px rgb(80, 44, 27);
  border-top: solid 2px rgb(80, 44, 27);
  border-right: solid 2px rgb(80, 44, 27);
  padding: 1rem;
  box-shadow: rgba(241, 241, 241, 0.4) 2px 2px, rgba(241, 241, 241, 0.4) 4px 4px, rgba(241, 241, 241, 0.4) 6px 6px, rgba(80, 44, 27, 0.685) 8px 8px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.book-info {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-48 {
  appearance: none;
  background-color: #f1f1f1;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: .5rem .5rem;
  position: relative;
  text-align: center;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  width: 6rem;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #c7c7c7;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}